/* ------------------------------------- */
/* ----- Header ----- */
/* ------------------------------------- */

.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    background-image: linear-gradient(rgba($color-black, .2), rgba($color-black, .8)), url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed; /* Add this line for parallax effect */

    @media(min-width: 768px) {
        
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 114rem;
        max-width: 150rem;
        transform: translate(-50%, -50%);
        opacity: .95;
    }

    &__description {
        max-width: 50rem;
        font-weight: 400;
        margin: 0 auto;
        font-size: 1.8rem;
        color: $color-white;
        opacity: .7;

        @media (min-width: 768px) {
            width: 70%;
            font-size: 2.5rem;
        }
    }

    &__director {
        position: absolute;
        bottom: 0;
        left: 50%;
        padding-bottom: 1rem;
        transform: translateX(-50%);
        color: $color-white;
        opacity: .7;

        @media (min-width: 768px) {
            font-size: 1.7rem;
        }
    }
}

/* ------------------------------------- */
/* ----- Intro ----- */
/* ------------------------------------- */

.intro {
    text-align: center;
    background: $color-white-1;

    @media(min-width: 768px) {
        padding: 8rem 0;
    }


}

/* ------------------------------------- */
/* ----- About ----- */
/* ------------------------------------- */

.about {
    [href^='http'] {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dashed rgb(189, 188, 188);
        transition: all .2s;

        &:hover {
            border-bottom: 1px dashed rgb(129, 128, 128);
        }
    }

    &__phrase {
        // italics and classy font
        font-style: italic;
        font-family: 'EB Garamond', serif;
    }

    &__ts {
        color:#3178C6;
        font-weight: 400;
    }

    &__js {
        color:#F5D032;
        font-weight: 400;
    }

    &__py {
        // gradient between #366994 and #FFCC1C
        background: linear-gradient(to right, #366994, #FFCC1C);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 400;
        display: inline-block; // Add this to make animation work
        background-size: 200% 100%; // Double the width to cover the entire animation
        animation: pythonMoveColors 2s infinite linear; // Adjust the duration and timing function as needed
    }

    @keyframes pythonMoveColors {
        // 100% must be the same as 0% and no negatives
        0% {
            background-position: 0% 100%;
        } 50% {
            background-position: 50% 50%;
        } 100% {
            background-position: 0% 100%;
        }
    }

    &__jv {
        color:#EA8C10;
        font-weight: 400;
    }

    &__react {
        color:#61DBFB;
    }

    &__flutter {
        color:#02569B;
    }

    &__angular {
        color:#DD1B16;
    }

    &__node {
        color:#8CC84B;
    }

    &__spring {
        color:#5FB426;
    }

    &__django {
        color:#44B78B;
    }
}


/* 3D Slideshow */   
  
#slideshow {
  margin-top: 70px;
  height: 200px;
  width: auto;
  box-sizing: border-box;
  
  @media(min-width: 920px) {
      height: 285px;
  }

  a {
      text-decoration: none;
      border-bottom: none;
  }
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 2000px; // Efecto 3D
  position: relative;
  transform: translateY(-120px);
  padding-top: 120px; // Efecto 3D
}

.content-carrousel {
  width: 100%;
  float: right;
  animation: rotar 13s infinite linear;
  transform-style: preserve-3d;

  @media(min-width: 920px) {
      animation: rotar 11.5s infinite linear;

      &:hover {
          animation-play-state: paused;
          cursor: pointer;
      }
  }

  figure {
      width: auto;
      height: 120px;
      overflow: hidden;
      position: absolute;
      text-align: center;
      display: flex;

      @media(min-width: 920px) {
        height: 170px;
      }
  }

  figure > a > img {
      image-rendering: auto;
      transition: all 300ms;
      width: 100%;
      height: 100%;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(3px 3px 3px #222);
      transform: scale(0.82);
      margin: auto;

      &:hover {
          transform: scale(0.9);
          transition: all 300ms;
          cursor: pointer;
      }
  }
}

$num-figures: 15; // Number of figures, must be changed if added or removed images
@for $i from 1 through calc($num-figures + 1) {
  .content-carrousel figure:nth-child(#{$i}) {
      transform: rotateY(#{calc(360 * ($i - 1) / ($num-figures))}deg) translateZ(450px);
  }
}

@keyframes rotar {
  // Right to left
  from {
    transform: rotateY(360deg);
  } to {
    transform: rotateY(0deg);
  }
}

/* ------------------------------------- */
/* ----- Craft ----- */
/* ------------------------------------- */


.craft {

    &__row {
        @media(min-width: 768px) {
            display: table;
            padding: 3rem 10rem;
        }

        @media(max-width: 768px) {
            margin: 6rem;
        }
    }
    
    .hack {
        border: none;
        background: transparent;
        box-shadow: none;
        width: 20px;
    }

    &__item {
        display: block;
        margin: auto;
        max-width: 50rem;
        text-align: center;
        border: 1px solid rgb(233, 232, 232);
        padding: 2rem 1rem;
        background: #f8f8f8;
        box-shadow: 0 .2rem .2rem rgba($color-black, .1);
        border-radius: 3px;

        &:first-of-type {
            margin: 0 auto 2rem auto;
        }

        @media(min-width: 768px) {
            width: 50rem;
            display: table-cell;
            padding: 3rem;
            width: 30rem;
        }
    }

    &__img {
        height: 9rem;
        display: inline-block;
        margin-bottom: 1.5rem;
        fill: #555;
    }

    &__description {
        margin: 1.5rem 0;
        font-size: 1.8rem;

        @media(min-width: 768px) {
            font-size: 2.2rem;
        }
    }

}

/* ------------------------------------- */
/* ----- Skills ----- */
/* ------------------------------------- */

.skill {

    background: #ffffff;

    text-align: center;

    .btn-text {
        margin-top: 2rem;
    }

}

/* ------------------------------------- */
/* ----- Projects ----- */
/* ------------------------------------- */

.projects {
    
    background: #f8f8f8;

    text-align: center;

    &__construction {
        display: block;
        margin: 3rem auto;
        height: 10rem;

        @media (min-width: 768px) {
            height: 20rem;
        }
    }

    [href^='http'] {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dashed rgb(189, 188, 188);
        transition: all .2s;

        &:hover {
            border-bottom: 1px dashed rgb(129, 128, 128);
        }
    }

    &__item {
        display: block;
        margin: auto;
        max-width: 50rem;
        text-align: center;
        border: 1px solid rgb(233, 232, 232);
        padding: 2rem 1rem;
        background: #fff;
        box-shadow: 0 .2rem .2rem rgba($color-black, .1);
        border-radius: 3px;

        &:first-of-type {
            margin: 0 auto 2rem auto;
        }

        @media(min-width: 768px) {
            width: 50rem;
            display: table-cell;
            padding: 3rem;
            width: 30rem;
        }

    }

    &__img {
        width: 50%;
        border: 1px solid rgb(233, 232, 232);
        display: inline-block;
        margin-bottom: 2.5rem;
        fill: #555;

        @media (min-width: 768px) {
            width: 100%;
        }
    }

    &__description {
        margin: 1.5rem 0;
        font-size: 1.8rem;

        @media(min-width: 768px) {
            font-size: 2.2rem;
        }
    }

}

.projects .swiper {
    width: 100%;
}

.projects .project-item {
    color: #444444;
    margin-top: 15px;
    box-sizing: content-box;
    padding: 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
  }
  
  .projects .project-item .stars {
    margin-bottom: 15px;
  }
  
  .projects .project-item .stars i {
    color: #ffc107;
    margin: 0 1px;
  }
  
  .projects .project-item .project-img {
    width: 80%;
    border-radius: 5%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  
  .projects .project-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  
  .projects .project-item h4 {
    font-size: 18px;
    color: #999;
    margin: 0;
  }

  .projects .project-item p {
    font-size: 17px;
    margin: 0 auto 15px auto;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .projects .swiper-pagination {
    margin-top: 50px;
    position: relative;
  }
  
  .projects .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
  }
  
  .projects .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
  }
  
  .projects .swiper-wrapper > .swiper-slide {
    opacity: 0.3;
  }
  
  .projects .swiper-slide.swiper-slide-active {
    opacity: 1;
    transform: scale(1.12) !important;
}
  
  .clickable-div {
    text-decoration: none;
    color: inherit; 
  }
  
  .clickable-div:hover {
    text-decoration: none; 
    color: inherit; 
  }

  @media (max-width: 767px) {
    .projects .project-item .project-img {
      max-height: 150px;
      width: auto;
    }
    .projects .swiper-slide-active {
      opacity: 1;
    }
  }
  
  @media (min-width: 768px) {
    .projects .swiper-slide-active {
      opacity: 1;
    }
  }
  
/* ------------------------------------- */
/* ----- Footer ----- */
/* ------------------------------------- */

.footer {
    background: #293335;
    color: $color-white-2;
    padding: 5rem 5rem 0rem 5rem;

    &__social-links {
        list-style: none;
        text-align: center;
        padding-bottom: 6rem;
    }

    &__social-link {
        display: inline-block;
        font-size: 2rem;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        @media(min-width: 768px) {
            font-size: 2.6rem;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }

        & a {
            color: inherit;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: #c6d8d7;
            }
        }
    }

    &__outro {
        text-align: center;
        max-width: 114rem;
        margin: 0 auto;
        padding: 3rem 1rem 4rem 1rem;
        border-top: 1px solid #394344;

        // & p {
        //     line-height: 1.5;
        // }

        @media (min-width: 768px) {
            @include clearfix;

            & p {
                float: left;

                &:not(:last-child) {
                    float: right;
                }
            }
        }
    }

    &__info {
        font-size: 1.8rem;

        @media(min-width: 768px) {
            font-size: 2.3rem;
        }

        a {
            border-bottom: 1px dashed;
            color: inherit;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: #f4f4f4;
            }
        }

    }

    .number {
        color: $color-white-2 !important;
        margin: 2rem 0 0 0;
        font-size: 1.8rem;
        text-decoration: none;
        @media(min-width: 768px) {
            font-size: 2.3rem;
        }
    }


}
